MAILCOW_MAILBOX_PASSWORD=somePassword
MAILCOW_SMTP_HOST=postfix-mailcow
MAILCOW_SMTP_DOMAIN=mail.domain.com
MAILCOW_SMTP_PORT=453
MAILCOW_USER=someUser

MORPHYXIS_MAIL_SERVICE_PORT=8080

POSTMAN_API_KEY=
POSTMAN_COLLECTION_UID=
